doctype html

html(ng-app='dashboard')
  head
    link(rel='stylesheet', href='/css/index.css')
    // load c3.css
    link(rel='stylesheet', href='/c3/c3.css', type='text/css')
    // load angular js
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular-animate.min.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular-touch.min.js')
    // load jquery
    script(type='text/javascript', src='/jquery/dist/jquery.js')
    // load c3.js and d3.js
    script(src='/d3/d3.min.js', charset='utf-8')
    script(src='/c3/c3.min.js')
    // external js to generate charts
    script(src='/js/chartGen.js')
    // dropzone scripts
    script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
    link(rel='stylesheet', href='/css/basic.css')
    link(rel='stylesheet', href='/css/dropzone.css')
    // external script to dynamically change the neural network
    script(src="/js/changeNet.js")
    // include fancybox lightbox library
    // Add mousewheel plugin (this is optional)
    script(type='text/javascript' src='/fancybox/lib/jquery.mousewheel.pack.js')
    // Add fancyBox
    link(rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen")
    script(type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.6")

    // load fancybox on load
    script.
      $(document).ready(function() {
        $(".fancybox").fancybox({'minWidth':700, 'speedIn':100, 'speedOut':100})
      })

    // angularjs controllers
    script.
      var app = angular.module('dashboard', ['ngAnimate', 'ngTouch'])

      app.controller('trainCtrl', function($scope) {
        // add the function to dynamically display the cnn traning process outputs
        
      })

      app.controller('chartCtrl', function($scope) {
        // add the function to dynamically read the AP data from back-end
      })

      app.controller('inputCtrl', function($scope) {
        // add the function to handle the input data, including images, labels, etc.
      })

      app.controller('searchCtrl', function($scope) {
        $scope.searchButton = function() {
          // add the function for image search
        }
      })

      app.controller('modelCtrl', function($scope) {
        // add the function to change the network correspondingly
        $scope.VGG16 = function() {
          $scope.networkName='VGG16'
        }

        $scope.ZF = function() {
          $scope.networkName='ZF'
        }

        $scope.VGG_CNN_M_1024 = function() {
          $scope.networkName='VGG_CNN_M_1024'
        }
      })

      app.controller('alertCtrl', function($scope) {
        // add the function to continously display the alters for detected illegal dumping
      })

      app.controller('objectDetectionCtrl', function($scope) {
        // add the function to continously display the detected trash
      })

      app.controller('realTimeTrainingCtrl', function($scope) {

      })

      //app.controller('todoCtrl', ['$scope', '$interval', function($scope, $interval) {
        // controller for to-do list of trash collections
      //  $scope.tasks = [];
      //  $scope.title = 'test';
      //  $scope.add = function() {
      //    $scope.tasks.push($scope.title);
      //  }
      //  $scope.delete = function() {
      //    $scope.tasks.splice(this.$index, 1);
      //  }

      //  function updateTodoList() {
      //    $scope.tasks.push($scope.title);
      //  }

        // set interval to continously update the list
      //  var updateTime = $interval(updateTodoList, 1000);

      //  element.on('$destroy', function() {
      //    $interval.cancel(updateTime);
      //  })
      //}])

      app.controller('todoCtrl', function($scope) {
        $scope.photos = [
          {src: '/images/tv-monitor/345361872_9e7aff54f5_b.jpg', desc: 'Image 01'},
          {src: '/images/tv-monitor/501173063_6e1b3775e5_b.jpg', desc: 'Image 02'},
          {src: '/images/tv-monitor/6197024779_31371d2b4b_b.jpg', desc: 'Image 03'},
          {src: '/images/tv-monitor/computer-monitor-in-front-of-a-full-skip-or-dumpster-with-unwanted-achk1e.jpg', desc: 'Image 04'},
          {src: '/images/tv-monitor/16627981590_c605c940ac_b.jpg', desc: 'Image 05'},
          {src: '/images/tv-monitor/EP-160139853.jpg', desc: 'Image 06'},
          {src: '/images/tv-monitor/1.jpg', desc: 'Image 07'},
          {src: '/images/tv-monitor/3.jpg', desc: 'Image 08'},
          {src: '/images/tv-monitor/8.jpg', desc: 'Image 09'},
          {src: '/images/tv-monitor/160424-analog-tv-set-recycle-yh-0754a_160bd0ae9c2c95d18a1102fed4884ec3.nbcnews-fp-1200-800.jpg', desc: 'Image 10'},
          {src: '/images/tv-monitor/802263183_cb915bcfd3_b.jpg', desc: 'Image 11'}
        ];

        // initial image index
        $scope._Index = 0;
        // if current image is the same as requested image
        $scope.isActive = function(index) {
          return $scope._Index === index;
        }
        // show prev image
        $scope.showPrev = function() {
          $scope._Index = ($scope._Index > 0) ? --$scope._Index : $scope.photos.length - 1;
        }
        // show next image
        $scope.showNext = function() {
          $scope._Index = ($scope._Index < $scope.photos.length - 1) ? ++$scope._Index : 0;
        }
        // show a specific image
        $scope.showPhoto = function(index) {
          $scope._Index = index;
        }
        // delete image and shift to next image
        $scope.removePhoto = function() {
          $scope.photos.splice($scope._Index, 1);
          $scope._Index = ($scope._Index < $scope.photos.length - 1) ? ++$scope._Index : 0;
        }
        // functions handling object decisions
        $scope.findSofa = function() {

        }
        $scope.findMattress = function() {

        }
        $scope.findTvMonitor = function() {

        }
      })

      // Register the 'myCurrentTime' directive factory method.
      app.directive('myCurrentTime', ['$interval', function($interval) {
        // return the directive link function. (compile function not needed)
        return function(scope, element) {
          var trainingTime = 0, // initial training time
          hours, mins, secs, millisecs,
          stopTime; // so that we can cancel the time updates

          // used to update the UI
          function updateTime() {
            trainingTime += 1000;
            //millisecs = parseInt(trainingTime % 1000);
            secs = trainingTime / 1000;
            mins = secs / 60;
            hours = parseInt(mins / 60);
            mins = parseInt(mins % 60);
            secs = parseInt(secs - hours * 3600 - mins * 60);
            element.text(hours + ":" + mins + ":" + secs);
          }

          stopTime = $interval(updateTime, 1000);

          // listen on DOM destroy (removal) event, and cancel the next UI update
          // to prevent updating time after the DOM element was removed.
          element.on('$destroy', function() {
            $interval.cancel(stopTime);
          });
        }
      }])

      app.directive('myCurrentDataset', ['$interval', function($interval) {
        // return the directive link function. (compile function not needed)
        return function(scope, element) {
          var datasetSize = 0, // dataset size
          stopTime; // so that we can cancel the time updates

          // used to update the UI
          function updateSize() {
            datasetSize += 1;
            element.text(datasetSize);
          }

          stopTime = $interval(updateSize, 1000);

          // listen on DOM destroy (removal) event, and cancel the next UI update
          // to prevent updating time after the DOM element was removed.
          element.on('$destroy', function() {
            $interval.cancel(stopTime);
          });
        }
      }])

      app.directive()

    // js functions to dynamically read logs from back-end
    script.
      $(document).ready(function monitorTraining() {
        $(".trainingLogRefresh").click(function() {
          for(i = 0; i < 10; ++i)
          $("p.trainingLog").append("This is a training output" + i + "<br />")
        })
        $(".trainingLogReset").click(function() {
          $("p.trainingLog").replaceWith("<p class='trainingLog'></p>")
        })

        $(".alertLogRefresh").click(function() {
          for(i = 0; i < 10; ++i)
          $("p.alertLog").append("This is a alert output" + i + "<br />")
        })
        $(".alertLogReset").click(function() {
          $("p.alertLog").replaceWith("<p class='alertLog'></p>")
        })

        $(".detectionLogRefresh").click(function() {
          for(i = 0; i < 10; ++i)
          $("p.detectionLog").append("This is a detection output" + i + "<br />")
        })
        $(".detectionLogReset").click(function() {
          $("p.detectionLog").replaceWith("<p class='detectionLog'></p>")
        })
        // this function will repeatedly check the updates of logs
        var checker = function() {
          $("p.trainingLog").append("This is a training output <br />")
          $("p.alertLog").append("This is a alert output <br />")
          $("p.detectionLog").append("This is a detection output <br />")
          // jquery function to automatically scroll down to bottom of div
          $(".train").scrollTop($(".train")[0].scrollHeight)
          $(".alert").scrollTop($(".alert")[0].scrollHeight)
          $(".detection").scrollTop($(".detection")[0].scrollHeight)
          //clearInternal(timer)
        }
        timer = setInterval(checker, 500)
      })

    // js function to dynamically set display parameter of div
    script.
      var setVisibility = function(classNames) {
        document.getElementsByClassName(classNames[0])[0].style.display = "inline-block";
        document.getElementsByClassName(classNames[0] + "Button")[0].style.backgroundColor = "#3ab795";
        for (index = 1; index < classNames.length; ++index) {
          document.getElementsByClassName(classNames[index])[0].style.display = "none";
          document.getElementsByClassName(classNames[index] + "Button")[0].style.backgroundColor = "#008CBA";
        }
      }

    // js to change Supervision buttons' colors
    script.
      $(document).ready(function() {
        $('#findSofa').click(function() {
          $(this).toggleClass('chosenColor');
        })

        $('#findMattress').click(function() {
          $(this).toggleClass('chosenColor');
        })

        $('#findTvMonitor').click(function() {
          $(this).toggleClass('chosenColor');
        })

        $('.deleteImg').click(function() {
          $('#findSofa').toggleClass('chosenColor', false);
          $('#findMattress').toggleClass('chosenColor', false);
          $('#findTvMonitor').toggleClass('chosenColor', false);
        })
      })

  title Illegal Dumping Detection System Dashboard
  body
    .header
      h1.page-title Illegal Dumping Detection System Dashboard

    div.switchGridButtons
      button.sysOpsButton(onclick='setVisibility(["sysOps", "dataViews", "logViews"])') System Operations
      button.dataViewsButton(onclick='setVisibility(["dataViews", "logViews", "sysOps"])') Data Virtualization
      button.logViewsButton(onclick='setVisibility(["logViews", "dataViews", "sysOps"])') Log Views

    div(ng-app="dashboard")

      // system opertations webpage
      div.sysOps
        div.left-half
          div.left-half-1
            div.upload-files
              form.dropzone.dz-clickable(action='/upload-files')
                 div.dz-message Drop files here or click to upload.
                    //br
                    //span.note (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
            div.realTime-training(ng-controller="realTimeTrainingCtrl")
              //div.search(ng-controller="searchCtrl")
              //  input(type="text", ng-model="imgName")
              //  button(ng-click="searchButton()") Search Image
              //div.model(ng-controller="modelCtrl")
              //  ul.nav
              //    li: button.VGG16(ng-click="VGG16()") VGG16
              //    li: button.ZF(ng-click="ZF()") ZF
              //    li: button.VGG_CNN_M_1024(ng-click="VGG_CNN_M_1024()") VGG_CNN_M_1024
              div.realTime-trainingTime
                span(style="color:#008CBA") Training Time of Current Dataset: 
                span(my-current-time, style="color:#ff4000")
              div.realTime-dataset
                span(style="color:#008CBA") Dataset Size of Current Training:
                span(my-current-dataset, style="color:#ff4000")
          div.left-half-2
            div.slider(ng-controller='todoCtrl')
              //form(ng-submit='add()')
              //  input(ng-model='title')
              //  button Add
              //ul
              //  li(ng-repeat='t in tasks track by $index'): button(ng-click='delete()') {{ t }}
              a.slide.fancybox(ng-repeat='photo in photos', ng-swipe-right='showPrev()', ng-swipe-left='showNext()', ng-show='isActive($index)', href='{{photo.src}}')
                img.slide(ng-repeat='photo in photos', ng-swipe-right='showPrev()', ng-swipe-left='showNext()', ng-show='isActive($index)', ng-src='{{photo.src}}')
              div.arrow.prev(ng-click='showPrev()')
              div.arrow.next(ng-click='showNext()')
              button#findSofa(ng-click='findSofa()')
                p(style="font-size:12px; text-align:center") Sofa
              button#findMattress(ng-click='findMattress()')
                p(style="font-size:12px; text-align:center") Mattress
              button#findTvMonitor(ng-click='findTvMonitor()')
                p(style="font-size:9px; text-align:center") TV Monitor
              div.deleteImg(ng-click='removePhoto()')
              //ul.navPhoto
                //li(ng-repeat='photo in photos', ng-class='{"active" : isActive($index)}')
                  //img(src='{{photo.src}}', alt='{{photo.desc}}', title='{{photo.desc}}', ng-click='showPhoto($index)')

        div.right-half
          iframe.detectLocations(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-denz3OyVbLzOvKpehCzSLJzNohqAebo &q=Space+Needle,Seattle+WA" allowfullscreen)

      // data virtualization webpage
      div.dataViews
        div.sysStat
          h2 System Status
          div.chartButtons
            button.cpuUsage CPU Usage
            button.memLoad Memory Load
            button.netTraff Network Traffic
            button.cpuTemp CPU Temprature
          div.sysChart(ng-controller="chartCtrl")

        div.dbStat
          h2 Database Status
          div.chartButtons
            button.imgStorage Image Storage
            button.dbIO I/O Traffic
            button.dbQuery Database Queries
          div.dbChart(ng-controller="chartCtrl")

        div.nnStat
          h2 Neural Network Status
          div.chartButtons
            button.AP Average Precisions
            button.datasetSize Dataset Size
            button.detectedObjects Detected Objects
          div.nnChart(ng-controller="chartCtrl")

        div.cuStat
          h2 Client Usage Status
          div.chartButtons
            button.completedTasks Completed Tasks
            button.supDec Supervision Decisions
            button.upImg Upload Images
          div.cuChart(ng-controller="chartCtrl")

      // log views webpage
      div.logViews
        div.left-half
          div.left-half-1
          div.left-half-2
            div.logButtons
              button.alertLogRefresh Manually refresh log
              button.alertLogReset Reset Log
            div.alert
              p.alertLog
            div.logButtons
              button.detectionLogRefresh Manually refresh log
              button.detectionLogReset Reset Log
            div.detection
              p.detectionLog

        div.right-half
          div.logButtons
            button.trainingLogRefresh Manually refresh log
            button.trainingLogReset Reset Log
          div.train(ng-controller="trainCtrl")
            p.trainingLog

    .footer
      p Copyright © 2016 Wendy Boo, Alan Chen, Luwen Miao, Xiaoming Chuang
