doctype html

html(ng-app='dashboard')
  head
    link(rel='stylesheet', href='/css/index.css')
    // load c3.css
    link(rel='stylesheet', href='/c3/c3.css', type='text/css')
    // load angular js
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular-animate.min.js')
    script(type='text/javascript', src='https://code.angularjs.org/1.5.8/angular-touch.min.js')
    // load jquery
    script(type='text/javascript', src='/jquery/dist/jquery.js')
    // load c3.js and d3.js
    script(src='/d3/d3.min.js', charset='utf-8')
    script(src='/c3/c3.min.js')
    // external js to generate charts
    script(src='/js/chartGen.js')
    // dropzone scripts
    script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
    link(rel='stylesheet', href='/css/basic.css')
    link(rel='stylesheet', href='/css/dropzone.css')
    // external script to dynamically change the neural network
    script(src="/js/changeNet.js")
    // include fancybox lightbox library
    // Add mousewheel plugin (this is optional)
    script(type='text/javascript' src='/fancybox/lib/jquery.mousewheel.pack.js')
    // Add fancyBox
    link(rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen")
    script(type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.6")
    // load dashboard angularjs application
    script(type="text/javascript" src="/js/dashboard-angular.js")
    // load js app to change colors of divs and buttons dynamically
    script(type="text/javascript" src="/js/changeColors.js")
    // load js app to read logs from back-end
    script(type="text/javascript" src="/js/readLogs.js")

    // load fancybox on load
    script.
      $(document).ready(function() {
        $(".fancybox").fancybox({'minWidth':700, 'speedIn':100, 'speedOut':100})
      })
    // js function to dynamically set display parameter of div
    script.
      var setVisibility = function(classNames) {
        document.getElementsByClassName(classNames[0])[0].style.display = "inline-block";
        $('.' + classNames[0] + "Button").toggleClass('chosenColor');
        for (index = 1; index < classNames.length; ++index) {
          document.getElementsByClassName(classNames[index])[0].style.display = "none";
          $('.' + classNames[index] + "Button").toggleClass('chosenColor', false);
        }
      }

      var setChartButtonsVisualbility = function(classNames) {
        $(classNames[0]).toggleClass('chosenColor');
        for (index = 1; index < classNames.length; ++index) {
          $(classNames[index]).toggleClass('chosenColor', false);
        }
      }

  title Illegal Dumping Detection System Dashboard
  body
    .header
      h1.page-title Illegal Dumping Detection System Dashboard

    div.switchGridButtons
      button.button.sysOpsButton(onclick='setVisibility(["sysOps", "dataViews"])') System Operations
      button.button.dataViewsButton(onclick='setVisibility(["dataViews", "sysOps"])') Data visualization

    div.dashboard(ng-app="dashboard")

      // system opertations webpage
      div.sysOps
        div.left-half
          div.left-half-1
            div.upload-files
              form.dropzone.dz-clickable(action='/upload-files')
                 div.dz-message Drop files here or click to upload.
                    //br
                    //span.note (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
            div.realTime-training(ng-controller="realTimeTrainingCtrl")
              //div.search(ng-controller="searchCtrl")
              //  input(type="text", ng-model="imgName")
              //  button(ng-click="searchButton()") Search Image
              //div.model(ng-controller="modelCtrl")
              //  ul.nav
              //    li: button.VGG16(ng-click="VGG16()") VGG16
              //    li: button.ZF(ng-click="ZF()") ZF
              //    li: button.VGG_CNN_M_1024(ng-click="VGG_CNN_M_1024()") VGG_CNN_M_1024
              div.realTime-trainingTime
                span(style="color:#008CBA") Training Time of Current Dataset: 
                span(my-current-time, style="color:#ff4000")
              div.realTime-dataset
                span(style="color:#008CBA") Dataset Size of Current Training:
                span(my-current-dataset, style="color:#ff4000")
          div.left-half-2
            div.slider(ng-controller='todoCtrl')
              a.slide.fancybox(ng-repeat='photo in photos', ng-swipe-right='showPrev()', ng-swipe-left='showNext()', ng-show='isActive($index)', href='{{photo.src}}')
                img.slide(ng-repeat='photo in photos', ng-swipe-right='showPrev()', ng-swipe-left='showNext()', ng-show='isActive($index)', ng-src='{{photo.src}}')
              div.arrow.prev(ng-click='showPrev()')
              div.arrow.next(ng-click='showNext()')
              div.btn-group
                button.deleteImg(ng-click='removePhoto()') 
                  span Submit
                button.findSofa(ng-click='findSofa()') Sofa
                button.findMattress(ng-click='findMattress()') Mattress
                button.findTvMonitor(ng-click='findTvMonitor()', style="font-size:10px") TV Monitor
              //ul.navPhoto
                //li(ng-repeat='photo in photos', ng-class='{"active" : isActive($index)}')
                  //img(src='{{photo.src}}', alt='{{photo.desc}}', title='{{photo.desc}}', ng-click='showPhoto($index)')
        div.right-half
          div.logButtons
            button.trainingLogRefresh Manually refresh log
            button.trainingLogReset Reset Log
          div.train(ng-controller="trainCtrl")
            p.trainingLog

      // data visualization webpage
      div.dataViews
        div.sysStat
          h2 System Status
          div.chartButtons
            button.button.cpuUsage(onclick='setChartButtonsVisualbility([".cpuUsage", ".memLoad", ".netTraff", ".cpuTemp"])') CPU Usage
            button.button.memLoad(onclick='setChartButtonsVisualbility([".memLoad", ".cpuUsage", ".netTraff", ".cpuTemp"])') Memory Load
            button.button.netTraff(onclick='setChartButtonsVisualbility([".netTraff", ".memLoad", ".cpuUsage", ".cpuTemp"])') Network Traffic
            button.button.cpuTemp(onclick='setChartButtonsVisualbility([".cpuTemp", ".memLoad", ".netTraff", ".cpuUsage"])') CPU Temprature
          div.sysChart(ng-controller="chartCtrl")

        div.dbStat
          h2 Database Status
          div.chartButtons
            button.button.imgStorage(onclick='setChartButtonsVisualbility([".imgStorage", ".dbIO", ".dbQuery"])') Image Storage
            button.button.dbIO(onclick='setChartButtonsVisualbility([".dbIO", ".imgStorage", ".dbQuery"])') I/O Traffic
            button.button.dbQuery(onclick='setChartButtonsVisualbility([".dbQuery", ".dbIO", ".imgStorage"])') Database Queries
          div.dbChart(ng-controller="chartCtrl")

        div.nnStat
          h2 Neural Network Status
          div.chartButtons
            button.button.AP(onclick='setChartButtonsVisualbility([".AP", ".datasetSize", ".detectedObjects"])') Average Precisions
            button.button.datasetSize(onclick='setChartButtonsVisualbility([".datasetSize", ".AP", ".detectedObjects"])') Dataset Size
            button.button.detectedObjects(onclick='setChartButtonsVisualbility([".detectedObjects", ".datasetSize", ".AP"])') Detected Objects
          div.nnChart(ng-controller="chartCtrl")

        div.cuStat
          h2 Client Usage Status
          div.chartButtons
            button.button.completedTasks(onclick='setChartButtonsVisualbility([".completedTasks", ".supDec", ".upImg"])') Completed Tasks
            button.button.supDec(onclick='setChartButtonsVisualbility([".supDec", ".completedTasks", ".upImg"])')  Supervision Decisions
            button.button.upImg(onclick='setChartButtonsVisualbility([".upImg", ".supDec", ".completedTasks"])')  Upload Images
          div.cuChart(ng-controller="chartCtrl")

        iframe.detectLocations(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-denz3OyVbLzOvKpehCzSLJzNohqAebo &q=Space+Needle,Seattle+WA" allowfullscreen)        

    .footer
      p Copyright © 2016 Wendy Boo, Alan Chen, Luwen Miao, Xiaoming Chuang
