doctype html

html(ng-app='loginApp')
	head
		link(rel='stylesheet', href='/css/index.css')
		//load angular js
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
		//load jquery
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
		//load toggle-switch js
		script(src='/js/loginSwitch.js')
		script(src='/js/JumpLink-angular-toggle-switch-29963d4/angular-toggle-switch.js')
		link(href="/js/JumpLink-angular-toggle-switch-29963d4//style/bootstrap3/angular-toggle-switch-bootstrap-3.css", media="all", rel="stylesheet", type="text/css")
		link(href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", media="all", rel="stylesheet", type="text/css")


		script.
			var app = angular.module('loginApp', ['toggle-switch'])


title Illegal Dumping Detection System Login
body
	.header
		h1.page-title Illegal Dumping Detection System Login Interface

	div.switch-primary.switch-large(toggle-switch, ng-model='switchStatus')

	div.adminLogin
		h2.adminTitle Administrator Login
		div.adminInput
			h4 Account
			input.adminAccount()
			h4 Password
			input.adminPasswd()
			button.adminLoginBtn() Login

	div.operatorLogin
		h2.opTitle Operator Login
		div.opInput
			h4 Account
			input.opAccount()
			h4 Password
			input.opPasswd()
			button.opLoginBtn() Login