<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- load c3.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='c3.css') }}">
    <!-- load angular js-->
    <!--script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-touch.min.js"></script>
    <!-- load jquery-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- load c3.js and d3.js-->
    <script src="{{ url_for('static', filename='d3.js') }}"></script>
    <script src="{{ url_for('static', filename='c3.js') }}"></script>
    <!-- external js to generate charts-->
    <script src="{{ url_for('static', filename='chartGen.js') }}"></script>
    <!-- dropzone scripts-->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">
    <!-- external script to dynamically change the neural network-->
    <script src="{{ url_for('static', filename='changeNet.js') }}"></script>
    <!-- include fancybox lightbox library-->
    <!-- Add mousewheel plugin (this is optional)-->
    <!--<script src="{{ url_for('static', filename='jquery.mousewheel.pack.js') }}"></script>-->
    <!-- Add fancyBox-->
    <!--<link href="{{ url_for('static', filename='jquery.fancybox.css') }}" media="screen">
    <script src="{{ url_for('static', filename='jquery.fancybox.pack.js') }}"></script>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.zbox.css') }}">
    <script src="{{ url_for('static', filename='jquery.zbox.js') }}"></script>
    <!-- load dashboard angularjs application-->
    <script src="{{ url_for('static', filename='dashboard-angular.js') }}"></script>
    <!-- load js app to change colors of divs and buttons dynamically-->
    <script src="{{ url_for('static', filename='changeColors.js') }}"></script>
    <!-- load js app to read logs from back-end-->
    <script src="{{ url_for('static', filename='readLogs.js') }}"></script>
    <!-- load js app to fix the switchViewButtons at top-->
    <script src="{{ url_for('static', filename='scrollANDfix.js') }}"></script>
    <!-- load fancybox on load-->
    <script>
      /*$(document).ready(function() {
        $(".fancybox").fancybox({'minWidth':700, 'speedIn':100, 'speedOut':100})
      })*/
      $(document).ready(function() {
        $(".zb").zbox();
      })
    </script>
    <!-- js function to dynamically set display parameter of div-->
    <script>
      var setVisibility = function(classNames) {
        document.getElementsByClassName(classNames[0])[0].style.display = "inline-block";
        $('.' + classNames[0] + "Button").toggleClass('chosenColor', true);
        for (index = 1; index < classNames.length; ++index) {
          document.getElementsByClassName(classNames[index])[0].style.display = "none";
          $('.' + classNames[index] + "Button").toggleClass('chosenColor', false);
        }
      }
      var setChartButtonsVisualbility = function(classNames) {
        $(classNames[0]).toggleClass('chosenColor', true);
        for (index = 1; index < classNames.length; ++index) {
          $(classNames[index]).toggleClass('chosenColor', false);
        }
      }
    </script>
  </head>
  <title>Illegal Dumping Detection System Dashboard</title>
  <body>
    <div class="header">
      <h1 class="page-title">Illegal Dumping Detection System Dashboard</h1>
    </div>
    <div class="switchViewButtons">
      <button onclick="setVisibility([&quot;sysOps&quot;, &quot;dataViews&quot;])" class="button sysOpsButton">System Operations</button>
      <button onclick="setVisibility([&quot;dataViews&quot;, &quot;sysOps&quot;])" class="button dataViewsButton">Data Visualization</button>
    </div>
    <div ng-app="dashboard" class="dashboard">
      <!-- system opertations webpage-->
      <div class="sysOps">
        <div class="left-half">
          <div class="left-half-1">
            <div class="upload-files">
              <form action="/upload-files" class="dropzone dz-clickable">
                <div class="dz-message">Drop files here or click to upload.
                  <!--br-->
                  <!--span.note (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)-->
                </div>
              </form>
            </div>
            <div ng-controller="realTimeTrainingCtrl" class="realTime-training">
              <!--div.search(ng-controller="searchCtrl")-->
              <!--  input(type="text", ng-model="imgName")-->
              <!--  button(ng-click="searchButton()") Search Image-->
              <!--div.model(ng-controller="modelCtrl")-->
              <!--  ul.nav-->
              <!--    li: button.VGG16(ng-click="VGG16()") VGG16-->
              <!--    li: button.ZF(ng-click="ZF()") ZF-->
              <!--    li: button.VGG_CNN_M_1024(ng-click="VGG_CNN_M_1024()") VGG_CNN_M_1024-->
              <!--<div class="realTime-trainingTime"><span style="color:#008CBA">Training Time of Current Dataset: </span><span my-current-time style="color:#ff4000"></span></div>-->
              <div class="realTime-dataset"><span style="color:#008CBA">Dataset Size of Current Training Process:</span>
                <br>
                <span my-current-dataset style="font-size:16px;color:#ff4000"></span>
                <!--<br>
                <Mattress:  style="font-size:14px;color:#E5A823">Couch: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>
                <br>
                <span style="font-size:14px;color:#E5A823">Fridge: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>
                <br>
                <Mattress:  style="font-size:14px;color:#E5A823">Chair: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>
                <br>
                <Mattress:  style="font-size:14px;color:#E5A823">TV Monitor: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>
                 <br>
                <Mattress:  style="font-size:14px;color:#E5A823">Shopping Cart: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>
                 <br>
                <Mattress:  style="font-size:14px;color:#E5A823">Clean Street: </span><span my-current-dataset style="font-size:14px;color:#ff4000"></span>-->
              </div>
              <div ng-controller="manuallyRetrain" class="manually-retrain">
                <button ng-click="retrain()" class="retrain"><span>Retrain the model</span></button>
              </div>
            </div>
          </div>
          <div class="left-half-2">
            {% raw %}
            <div ng-controller="todoCtrl" class="slider"><a ng-repeat="photo in photos" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" href="/static{{photo.src}}" class="slide zb"><img ng-repeat="photo in photos" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="/static{{photo.src}}" class="slide"></a>
              <div ng-click="showPrev()" class="arrow prev"></div>
              <div ng-click="showNext()" class="arrow next"></div>
              <div class="remainImg"><span style="margin-left:5px">Number of images awaiting manual classifications: </span><span style="color:#ff4000" class="imgToBeSupervised">{{photos.length}}</span><br><span>Predicted class: </span><span style="color:#ff4000">{{classificationResult}}</span><span> Predicted probability: </span><span style="color:#ff4000">{{accuracy}}</span></div>
              <br>
              <div class="btn-group">
                <button ng-click="refreshConfirmationImageList()" class="refreshConfirmationImageList"><span>Refresh</span></button>
                <button ng-click="removePhoto()" class="deleteImg"> <span>Submit</span></button>
                <button ng-click="findSofa()" class="findSofa">Couch</button>
                <button ng-click="findMattress()" class="findMattress">Mattress</button>
                <button ng-click="findFridge()" class="findFridge">Fridge</button>
                <button ng-click="findChair()" class="findChair">Chair</button>
                <button ng-click="findTvMonitor()" style="font-size:10px" class="findTvMonitor">TV Monitor</button>
                <button ng-click="findShoppingCart()" style="font-size:8px" class="findShoppingCart">Shopping Cart</button>
                <button ng-click="findCleanStreet()" style="font-size:10px" class="findCleanStreet">Clean Street</button>
              </div>
            </div>
            {% endraw %}
          </div>
        </div>
        <div class="right-half">
          <!--<div class="trainingLogView">
            <div class="logButtons">
              <h5 style="color:#0055A2">Training Log</h5>
              <button class="button trainingLogRefresh">Manually refresh log</button>
              <button class="button trainingLogReset">Reset Log</button>
            </div>
            <div ng-controller="trainCtrl" class="train">
              <p class="trainingLog"></p>
            </div>
          </div>-->
          <div class="detectionLogView">
            <div class="logButtons">
              <h5 style="color:#0055A2">Detection Log</h5>
              <button class="button detectionLogRefresh">Manually refresh log</button>
              <button class="button detectionLogReset">Reset Log</button>
            </div>
            <div ng-controller="detectCtrl" class="detection">
              <p class="detectionLog"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- data visualization webpage-->
      <div class="dataViews">
        <div class="dbStat">
          <h2>Database Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button imgStorage">Total Images in Database</button>
            <button onclick="setChartButtonsVisualbility([&quot;.datasetSize&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button datasetSize">Images automatically<br>rejected by the algorithm</button>
            <button onclick="setChartButtonsVisualbility([&quot;.imgConf&quot;, &quot;.upImg&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;])" class="button imgConf">Images Confirmed by Administrators</button>
            <button onclick="setChartButtonsVisualbility([&quot;.upImg&quot;, &quot;.imgConf&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;])" class="button upImg">Uploaded Images</button>
            <!--<button onclick="setChartButtonsVisualbility([&quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.imgStorage&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button dbIO">I/O Traffic</button>
            <button onclick="setChartButtonsVisualbility([&quot;.dbQuery&quot;, &quot;.datasetSize&quot;, &quot;.dbIO&quot;, &quot;.imgStorage&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button dbQuery">Database Queries</button>-->
          </div>
          <div ng-controller="chartCtrl" class="dbChart"></div>
        </div>
        
        <!--<div class="sysStat">
          <h2>System Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.cpuUsage&quot;, &quot;.memLoad&quot;, &quot;.netTraff&quot;, &quot;.cpuTemp&quot;])" class="button cpuUsage">CPU Usage</button>
            <button onclick="setChartButtonsVisualbility([&quot;.memLoad&quot;, &quot;.cpuUsage&quot;, &quot;.netTraff&quot;, &quot;.cpuTemp&quot;])" class="button memLoad">Memory Load</button>
            <button onclick="setChartButtonsVisualbility([&quot;.netTraff&quot;, &quot;.memLoad&quot;, &quot;.cpuUsage&quot;, &quot;.cpuTemp&quot;])" class="button netTraff">Network Traffic</button>
            <button onclick="setChartButtonsVisualbility([&quot;.cpuTemp&quot;, &quot;.memLoad&quot;, &quot;.netTraff&quot;, &quot;.cpuUsage&quot;])" class="button cpuTemp">CPU Temprature</button>
          </div>
          <div ng-controller="chartCtrl" class="sysChart"></div>
        </div>-->
        
        <div class="nnStat">
          <h2>Neural Network Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.AP&quot;, &quot;.detectedObjects&quot;])" class="button AP">Mean Accuracy</button>
            <button onclick="setChartButtonsVisualbility([&quot;.detectedObjects&quot;, &quot;.AP&quot;])" class="button detectedObjects">Detected Objects</button>
          </div>
          <div ng-controller="chartCtrl" class="nnChart"></div>
        </div>
        <!--<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-denz3OyVbLzOvKpehCzSLJzNohqAebo &amp;q=Space+Needle,Seattle+WA" allowfullscreen class="detectLocations">       </iframe>-->
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2016 Wendy Boo, Alan Chen, Luwen Miao, Xiaoming Chuang</p>
    </div>